<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>tovar1</title>
    <link rel="stylesheet" href="../../css/styles/index.css" />
    <link rel="stylesheet" href="../../css/styles/profile.css" />
  </head>
  <body>
    <header>
      <!-- Нвигация -->
      <nav class="navigation">
        <a href="../../index.html">Главная</a>
        <a href="../../index.html#product_main">Каталог</a>
        <a href="../../index.html#stock_main">Акции</a>
        <a href="../../index.html#reviews_main">Отзывы</a>
        <a href="#">Профиль</a>
      </nav>
      <section class="heading">
        <h1>Приветствуем вас в нашем интернет-магазине!</h1>
      </section>
    </header>
    <main>
      <div>
        <div class="user_profile">
          <section>
            <article>
              <img
                src="../../../assets/img/profile1.png"
                alt="аватар пользователя"
              />
            </article>
            <article>
              <h2><b>Иванов Иван</b></h2>
              <p>IvanIvanov@gmail.com</p>
            </article>
          </section>
          <section>
            <article>
              <p><b>Телефон:</b> 89056783285</p>
            </article>
            <address><b>Адрес:</b> г.Москва ул.фрунзе д.56</address>
          </section>
          <section>
            <article><b>Дата регистрации:</b> 12.06.2024</article>
          </section>
          <section class="user_profile_button">
            <button>История заказов</button>
            <button>Настройки профиля</button>
            <button
              id="user_profile_exit"
              onclick="window.location.href='../../index.html'"
            >
              Выйти
            </button>
          </section>
        </div>
      </div>
    </main>
    <footer>
      <div class="information">
        <article>
          <h3>О нас</h3>
          <p>Мы — современный интернет-магазин с лучшими товарами.</p>
        </article>
        <nav>
          <h3>Ссылки</h3>
          <a href="/src/index.html">Главная</a>
          <a href="/src/index.html#product_main">Каталог</a>
          <a href="/src/index.html#stock_main">Акции</a>
          <a href="#">Профиль</a>
        </nav>
        <address>
          <h3>Контакты</h3>
          <p>Email: info@example.com</p>
          <p>Телефон: +7 (123) 456-78-90</p>
        </address>
      </div>
      <p>© 2025 Интернет-магазин. Все права защищены.</p>
    </footer>
  </body>
</html>
